.White {
    background:#fff
}
.Width10Percent {
    width:10%
}
.Width15Percent {
    width:15%
}

.Width30Percent {
    width:30%
}
.Width40Percent {
    width:40%;
}
.Width49Percent {
    width:49%    
}
.Width50Percent {
    width:50%;
}
.Width55Percent {
    width:55%
}
.Width70Percent {
    width:70%
}

.Width90Percent {
    width:90%
}

.FullWidth {
    width:100%
}
.FloatLeft {
    float:left
}
.MarginLeft5Percent {
    margin-left:5%
}
.MarginLeft25Percent {
    margin-left:25%
}
.MarginLeft2Percent {
    margin-left:2%
}
.MarginRight5Percent {
    margin-right:5%;
}
.LogoTextStyle {
    font-size:60px;
    margin-top:10px;
    font-family:"Trebuchet MS", Helvetica Neue,sans-serif;
}

.LandingImageStyle {
    width:60%;
    margin-left:20%
}

.LandingImageTextStyle {
    font-size:18px;
    font-family:"Trebuchet MS", Helvetica Neue,sans-serif;
}
.LandingImageTextDivStyle {
    margin-left:15%
}
.MarginTop40Px {
    margin-top:40px
}
.MarginTop20Px {
    margin-top:20px
}
.BoxesTitleTextStyle {
    font-size:22px;
    font-family:"Trebuchet MS", Helvetica Neue,sans-serif;
}
.BoxesSplitLineStyle {
    border-top:6px solid grey;
    margin-top:20px
}
.SourceBoxImageStyle {
    width:40%;
    margin-left:30%;
    margin-top:30px
}
.SourceBoxTextStyle {
    width:90%;
    margin-left:5%;
    font-family:"Trebuchet MS", Helvetica Neue,sans-serif;
}
.SourceBoxDivStyle {
    width:30%;
    float:left;
    background:#efefef;
    margin-top:40px;
    border-radius:8%
}
.EventBoxTitleTextStyle {
    width:90%;
    float:left;
    margin-left:5%;
    font-size:26px;
    font-family:"Trebuchet MS", Helvetica Neue,sans-serif;
    text-align:center;
    margin-top:10px
}
.EventBoxSourceLeftImageStyle {
    width:40%;
    margin-left:50%;
    margin-top:10px;
    margin-bottom:20px
}
.EventBoxSourceCenterImageStyle {
    width:40%;
    margin-left:30%;
    margin-top:10px;
    margin-bottom:20px
}
.EventBoxSourceRightImageStyle {
    width:40%;
    margin-left:10%;
    margin-top:10px;
    margin-bottom:20px
}

.LandingBodyDivStyle {
    width:70%;
    float:left;
    margin-left:15%
}

.EventHiddenRowDivStyle {
    width:90%;
    float:left;
    margin-top:20px;
    margin-left:5%;
    background:#fff;
}

.VisualSegmentTitle {
    font-size:40px;
    margin-left:40px;
    color:rgb(62,82,143);
    font-family:"Trebuchet MS", Helvetica Neue,sans-serif;
}

















