.NewsInfluencerDataTotalInfluencerDivStyle {
    width:100%;
    float:left;
    background:#fff;
    height:240px;
    margin-top:20px
}

.MarginBottom40px {
    margin-bottom:40px
}

.StatisticBoxLeft {
    width:31%;
    float:left;
    background:#fff;
    min-height:100px;
    color:rgb(62,82,143);
}

.StatisticBoxMiddleRight {
    width:31%;
    float:left;
    background:#fff;
    margin-left:3.5%;
    min-height:100px;
}