.RowDivStyle {
    width:90%;
    float:left;
    margin-top:20px;
    margin-left:5%
}

.HalfRowLeftDivStyle {
    width:48%;
    float:left;
    margin-top:20px
}
.HalfRowRightDivStyle {
    width:48%;
    float:left;
    margin-top:20px;
    margin-left:4%
}

.TwitterVisBodyStyle {
    width:100%;
    float:left;
    background:#efefef;
    margin-top:40px
}
.SliderDivStyle{
    width: 90%;
    margin-left:5%;
    float:left;
    margin-top:50px
}
.ButtonStyle{
    width:20%;
    float:left;
    margin-left:5%;
    height:36px;
}

.InfluencerBarChartDivStyle {
    width:96%;
    float:left;
    margin-left:2%;
    margin-right:2%;
    height:30px;
}

.InfluencerinfoTextDivStyle {
    width:100%;
    float:left;
    height:30px;
}
.InfluencerTextLittleDivStyle {
    width:100%;
    float:left;
    height:15px;
}
.InfluencerListSegmentDivStyle {
    width:48%;
    float:left;
    margin-top:20px;
    background:#fff;
    margin-bottom:40px;
    max-height:500px;
    overflow-y:auto
}
.InfluencerDataAnalysisDivStyle {
    width:48%;
    float:left;
    margin-left:4%;
    margin-top:20px;
    background:#efefef;
    margin-bottom:40px
}
.InfluencerDataTotalDivStyle {
    width:100%;
    float:left;
    background:#fff;
    height:240px;
}

.InfluencerDataTotalInfluencerDivStyle {
    width:49%;
    float:left;
    background:#fff;
    height:240px;
    margin-top:20px
}
.InfluencerDataBotPercentDivStyle {
    width:49%;
    float:left;
    margin-left:2%;
    background:#fff;
    height:240px;
    margin-top:20px
}
.TotalTwitteTextLabel {
    width:100%;
    float:left;
    font-size:22px;
    color:rgb(76,153,160);
    text-align:center;
}
.TotalTwitteTextValue {
    width:100%;
    float:left;
    font-size:55px;
    font-weight:bold;
    color:rgb(62,82,143);
    text-align:center;
}

.TotalInfluencerTwitteTextLabel {
    width:100%;
    float:left;
    font-size:18px;
    color:rgb(76,153,160);
    text-align:center;
}
.TotalInfluencerTwitteTextValue {
    width:100%;
    float:left;
    font-size:45px;
    font-weight:bold;
    color:rgb(62,82,143);
    text-align:center;
}